
/__pycache__
.vscode

#waveform and catalog
/data
/paper image
*.zip

#mlflow
/mlruns

#training
/model
/predict

/multi_input_predict_pga_and_pgv/__pycache__
/multi_input_predict_pga_and_pgv/mlruns
/multi_input_predict_pga_and_pgv/model

#document
112CWB_EEW_mid_report.docx

#data preprocess
/data preprocess/events_traces_catalog
/data preprocess/pick_result
/data preprocess/._tracer_demo
/data preprocess/tracer_demo.tar

#3d velocity model input
/data preprocess/tracer_demo/create_input_file/event_input.evt
/data preprocess/tracer_demo/create_input_file/station_input.sta
/data preprocess/tracer_demo/create_input_file/2009_2019_input
/data preprocess/tracer_demo/create_input_file/1999_2008_input
/data preprocess/tracer_demo/create_input_file/20230918_input
/data preprocess/tracer_demo/model_image
/data preprocess/tracer_demo/2009_2019_output
/data preprocess/tracer_demo/1999_2008_output
/data preprocess/tracer_demo/2023_output
/data preprocess/cut event figure
/data preprocess/0918_M6.8_1319_1330/*.csv
/data preprocess/0918_M6.8_1319_1330/cut trace
#CWA eew
/CWA EEW report